*.dll
*.bisign
addons/a3.pbo
addons/air_f_beta.pbo
addons/air_f.pbo
addons/air_f_epb.pbo
addons/air_f_epc.pbo
addons/air_f_gamma.pbo
addons/animals_f_beta.pbo
*.pbo
*.cfg
*.map
*.list
*.Arma3Profile
*.exe
*.txt
*.blob
*.vdf
*.bin
*.ini
*.ebo
*.db
*.bikey
*.bat
*.rpt
*.log